
td {
background-color: white;

}

.round-trh {

background-color: #c3c4ff;
    
}

.method-name {

font-size:xx-large
    
}


.round-name {

font-size:x-large
    
}

.totals-heading {

font-size:x-large
    
}

th.hdr-pred, td.td-pred{

text-align:left
    
}

td.td-pred-sc, td.td-fia, td.td-score1,td.td-score2,td.td-score
{

text-align:right
    
}

td.even-col {

background-color: #d4d4d4;
    
}

