
td {
background-color: white;

}

.round-trh {

background-color: #c3c4ff;
    
}

.method-name {

font-size:xx-large
    
}


.round-name {

font-size:x-large
    
}

.totals-heading {

font-size:x-large
    
}


